header{
    background-image: url(/images/spine.jpg);
    /* // Delete the GPhysicalTherapy */
}
.my-techniques {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding: 40px 0 170px;
    overflow: hidden;
}
.first {
    padding-top: 50px;
}
#treatment {
    display: flex;
    justify-content: center;
    padding: 0;
}
.treatment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
}
.treatment-left {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.treatment-manual {
    width: 60%;
    border-radius: 3px;
}

.treatment-right {
    flex: 1;
    max-width: 500px;
}

.treatment-right h2 {
    font-size: 34px;
    font-weight: 400;
    color: #536941;
    letter-spacing: -1px;
    font-family: "Forum", serif;
    margin-bottom: 22px;
}

.treatment-right p {
    font-size: 16px;
    font-weight: 500;
    color: #536941;
    line-height: 30px;
    max-width: 90%;
    opacity: 0.7;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 30px;
}

.treatment-right button {
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #0F172A;
    border-radius: 5px;
    border: 1px solid black;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: 'DM Sans', sans-serif;
}

.treatment-right button:hover {
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .treatment-header {
        background: url('images/spine.jpg') no-repeat center center;
        background-size: cover;
        height: 40vh;
    }
    .treatment-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .treatment-right, .treatment-left {
        width: 65%;
    }
    .treatment-manual {
        width: 100%;
    }
    .my-techniques {
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        padding: 40px 0 170px;
    }
    .last-btn{
        margin-bottom: 100px;
    }
}
@media (max-width: 500px) {
    .treatment-right, .treatment-left {
        width: 90%;
    }
    .treatment-left {
        padding: 30px 0 20px 0;
    }
    .treatment-right {
        justify-content: center;
        padding-left: 50px;
    }
    .treatment-right h2{
        font-size: 25px;
    }
    .treatment-right p{
        font-size: 14px;
    }
    .treatment-manual {
        width: 90%;
    }
    .my-techniques {
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        padding: 40px 0 170px;
    }
    .last-btn{
        margin-bottom: 100px;
    }
}


